<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
    <p># 데이터시각화 실험 : 지하철 역별 유임/무임승차</p>
    <a href="{% url 'data:station_list' %}" class="btn">자료리스트</a>
    {% block content %}


    {% endblock %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static "js/simple.js" %}" type="text/javascript"></script>
</body>
</html>